# Project exclude paths
/.gradle/
/gradle/
/build/
/build/classes/java/main/
/build/classes/java/test/
/.idea/
.idea
.gradle
out
build
*.iml
*.ipr
*.iws
target/
build/
.classpath
.settings/
.project
bin/